nav{
    background-color: #1f0202;
    width: 100%;
    height: 100px;
   position: fixed;
}

nav img{
    width: 18%;
    margin-top: -60px;
    height: 65px;
    margin-right: 50px;
    float: right;
}
ul{
    margin-top:32px;
    display: flex;
    flex-direction: row;
}
ul li{
    color: aliceblue;
    margin-left: 25px;
}
ul li a{
    text-decoration: none;
    font-family: 'Papyrus';
    font-size: 18px;
    color: aliceblue;
    background-color: #1f0202;
}



 
